<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ZAVOD</title>
        <meta charset="UTF-8">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../lib/css/bootstrap.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--#include virtual="/Zavod/view/mr.html"-->
        <!--#include virtual="mr.html"-->
        <!--#include virtual="view/mr.html"-->
        <!--#include virtual="../Zavod/view/mr.html"-->
        <!--#include virtual="../view/mr.html"-->
        <!--#echo var="DATE_LOCAL" -->
        <div id="content"></div>  
      
    <script type="text/javascript">  
        $(window).load(function () 
    {
       alert("fds");
    });  
    </script>
        <script type="text/javascript" src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
    </body>
</html>
