<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ООО «Императив Сибирь»</title>
        <meta charset="UTF-8">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../lib/css/bootstrap.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="containerrr">
            <div class="header">
                <div class="menuWrapper">
                    <div class="menuFloat">
                        <div class="menuLeft">
                            <div class="menuLeftLogo">
                                <img src="../images/Logo3.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="leftmenu">
                <div class="row">        

                     <div class="list-group">
                        <a class="list-group-item" href="/Imperativ/index.html"><i class="glyphicon glyphicon-home btn-lg"></i>Главная</a>
                        <a class="list-group-item" href="/Imperativ/view/news.html"><i class="glyphicon glyphicon-list-alt btn-lg"></i>Новости</a>
                        <a class="list-group-item" href="/Imperativ/view/projects.html"><i class="glyphicon glyphicon-briefcase btn-lg"></i>Наши услуги</a>
                        <a class="list-group-item" href="/Imperativ/view/service.html"><i class="glyphicon glyphicon-certificate btn-lg"></i>Проекты</a>
                        <a class="list-group-item" href="/Imperativ/view/vacancies.html"><i class="glyphicon glyphicon-user btn-lg"></i>Вакансии</a>
                        <a class="list-group-item" href="/Imperativ/view/about.html"><i class="glyphicon glyphicon-info-sign btn-lg"></i>О компании</a>
                        <a class="list-group-item" href="/Imperativ/view/contacts.html"><i class="glyphicon glyphicon-phone-alt btn-lg"></i>Контакты</a>
                    </div>
                </div>
            </div>
            <div class="maincontent">
                <div class="container-fluid news-blog">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h1>О Компании</h1>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                
                
                <div style = "padding-left: 50px;" class="about">
<!--                    <img src="../images/light.jpg">-->
                    <p>Общество с ограниченной ответственностью «Императив-Сибирь» осуществляет деятельность в сфере внедрения энергосберегающих и энергоэффективных технологий и энергосервиса в учреждениях бюджетной сферы, ЖКХ, администраций городских и сельских поселений.</p>

                    <p>Общество проводит работы, направленные на:</p>

                    <p> - развитие энергосбережения в тесной увязке со стратегическими задачами объекта (предприятия, города, региона и др.);</p>

                    <p>   - выявление внутренних резервов снижения затрат на энергообеспечение объекта; </p>

                    <p>     - оценку инвестиционной привлекательности энергосберегающих мероприятий (программ) для различных объектов (регионов, муниципальных районов, городов, промышленных узлов, предприятий и др. объектов.).</p>

                    <p>   В рамках энергосервисных контрактов осуществляются работы (действия), направленные на повышение энергетической эффективности: </p>

                       <p>  - систем теплоснабжения, в том числе установка автоматизированных тепловых узлов с погодным регулированием, ремонт систем отопления зданий, и т.д.;</p>

                       <p>  - систем электроснабжения, в том числе реконструкции систем внутреннего и наружного (уличного) освещения;</p>

                       <p>  - систем водоснабжения, в том числе монтаж систем рециркуляции воды в бассейнах, установка пластинчатых теплообменников, замена запорно-регулирующей арматуры.</p>

                     <p>  ООО «Императив-Сибирь» активно работает с коммерческими организациями по направлениям:</p>

                       <p>  - проектирование, производство, монтаж, ввод в эксплуатацию систем отопления и нагрева ГВС с помощью утилизации тепла на основе собственных запатентованных разработок;</p>
 
                      <p>   - проектирование, монтаж, ввод в эксплуатацию систем внутреннего и наружного (уличного) освещения на основе светодиодов</p>

                      <p>   - проектирование, монтаж, ввод в эксплуатацию систем учета энергоресурсов (АИИС УЭ, АСКУЭ)</p>

                     <p>    - проектирование, монтаж, ввод в эксплуатациюсистем теплоснабжения, в том числе установка автоматизированных тепловых узлов с погодным регулированием, ремонт систем отопления зданий, и т.д.; </p>

                    <p>     - проектирование, монтаж и ввод в эксплуатацию объектов альтернативной энергетики (ветрогенераторы, солнечные панели и коллекторы, тепловые насосы).</p>
                </div>
            </div>
                 
            
            <div class="clear"></div>
            
            <div class="footer">
                <footer>
                    <p>© 2018 All rights reserved 2017-2018.</p>
                </footer>
            </div>
            </div>
            
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
    </body>
</html>
