<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ООО «Императив Сибирь»</title>
        <meta charset="UTF-8">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../lib/css/bootstrap.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="containerrr">
            <div class="header">
                <div class="menuWrapper">
                    <div class="menuFloat">
                        <div class="menuLeft">
                            <div class="menuLeftLogo"><img src="../images/Logo3.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leftmenu">
                <div class="row">        

                     <div class="list-group">
                        <a class="list-group-item" href="/Imperativ/index.html"><i class="glyphicon glyphicon-home btn-lg"></i>Главная</a>
                        <a class="list-group-item" href="/Imperativ/view/news.html"><i class="glyphicon glyphicon-list-alt btn-lg"></i>Новости</a>
                        <a class="list-group-item" href="/Imperativ/view/service.html"><i class="glyphicon glyphicon-briefcase btn-lg"></i>Наши услуги</a>
                        <a class="list-group-item" href="/Imperativ/view/projects.html"><i class="glyphicon glyphicon-certificate btn-lg"></i>Проекты</a>
                        <a class="list-group-item" href="/Imperativ/view/vacancies.html"><i class="glyphicon glyphicon-user btn-lg"></i>Вакансии</a>
                        <a class="list-group-item" href="/Imperativ/view/about.html"><i class="glyphicon glyphicon-info-sign btn-lg"></i>О компании</a>
                        <a class="list-group-item" href="/Imperativ/view/contacts.html"><i class="glyphicon glyphicon-phone-alt btn-lg"></i>Контакты</a>
                    </div>
                </div>
            </div>
            <div class="maincontent">
                <div class="container-fluid news-blog">
                    <div class="row">
                        <div class="col-lg-12" style=" height: 550px;">
                            <div class="page-header">
                                <h1>Менеджер по набору сотрудников</h1>
                            </div>
                            <div class="col-lg-12">
                            <h1>Бубубу</h1>
                            <h2>Требования:</h2>
                            <ul>
                                <li>Знание C#</li>
                                <li>Знание C#</li>
                                <li>Знание C#</li>
                              </ul>
                            <div>
                        </div>
                    </div>
                </div>
                        </div></div>
            </div>
            <div class="clear"></div>
            <div class="footer">
                <footer>
                    <p>© 2018 All rights reserved 2017-2018.</p>
                </footer>
            </div>
            </div>
         
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
    </body>
</html>
