<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ООО «Императив Сибирь»</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="lib/css/bootstrap.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../service/NewsService.js"></script>
        <script src="../controllers/NewsController.js"></script>
    </head>
    <body>
        <div class="container-fluid p-0">
            <div class="header" >
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="/Imperativ/index.html">
                            <img src="../images/logo.jpg" class="d-inline-block align-top" alt="">
                        </a>
                        <div>
                            <h3>Наши контакты</h3>
                            <div align="right"><a href="#">Свяжитесь с нами</a></div>
                        </div>
                        <canvas data-type="radial-gauge"
                                data-width="200"
                                data-height="200"
                                data-value = "180"
                                data-units="Kv/h"
                                data-min-value="0"
                                data-start-angle="90"
                                data-ticks-angle="180"
                                data-value-box="true"
                                data-max-value="220"
                                data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                                data-minor-ticks="3"
                                data-stroke-ticks="true"
                                data-highlights='[
                                {"from": 160, "to": 220, "color": "rgba(200, 50, 50, .75)"}
                                ]'
                                data-color-plate="rgba(255, 255, 255, 0)"
                                data-border-shadow-width="1"
                                data-borders="false"
                                data-needle-type="arrow"
                                data-needle-width="10"
                                data-needle-circle-size="7"
                                data-needle-circle-outer="true"
                                data-needle-circle-inner="false"
                                data-animation-duration="1500"
                                data-animation-rule="linear"
                                ></canvas>
                    </div>
                </nav>
            </div>
            <div class="left-menu container-fluid">
                <div class="row">
                    <div class="col-3" style="margin-right: 100px;">
                        <div class="col">
                            <nav class="nav flex-column menu-style" >
                                <a class="list-inline" href="/Imperativ/index.html" id="link">&#10148; Главная страница</a>
                                <a class="list-inline" href="/Imperativ/view/news.html" id="link">&#10148; Новости</a>
                                <a class="list-inline" href="#" id="link">&#10148; Наши услуги</a>
                                <a class="list-inline" href="#" id="link">&#10148; Проекты</a>
                                <a class="list-inline" href="#" id="link">&#10148; Вакансии</a>
                                <a class="list-inline" href="#" id="link">&#10148; О компании</a>
                                <a class="list-inline" href="#" id="link">&#10148; Контакты</a>
                            </nav> 
                        </div>
                        <div class="w-100"></div>
                        <div class="col"><br>
                            <h3>Последние новости</h3>
                            <div id="news"></div>
                        </div>
                    </div>
                    <div class="col bg-light mr-4"><!--контент-->
                        <div class="container">
                            число.месяц.день год
                            <h1>Заголовоок</h1>
                            <img src="../images/1.jpg" class="img-fluid">
                            <div class="full-description">
                                
                                Огромный текст полгоно описание бла бла бла бал бал баб ал лаал ал ал 
                                Огромный текст полгоно описание бла бла бла бал бал баб ал лаал ал ал 
                            </div>
                        </div>
                        <div class="container" id="social" style="margin-top: 40px">
                            <i class="fab fa-vk fa-4x"></i>
                            <i class="fab fa-facebook-square fa-4x"></i>
                            <i class="fab fa-odnoklassniki-square fa-4x" ></i>
                            <i class="fab fa-instagram fa-4x"></i>
                        </div>
                    </div><!--контент кончился-->
                </div>
            </div>
            <!--Футер темный-->
            <div class="up-footer" id="up-footer">
                <div class="container" >
                    <div class="row">
                        <div class="col-6">
                            <h1>Императив</h1>
                            <div align="right">Внедрение новых технологий</div><hr color="white" noshade size="10">
                            <a href="#">Императив-Сибирь</a> осуществляет деятельность
                            в сфере внедрения энергосберегающих и энергоэффективных технологий
                            и энергосервиса в учреждениях бюджетной сферы, ЖКХ, администрации и сельских поселений.
                        </div>
                        <div class="col">
                            <h1>Контакты</h1><hr color="white" noshade size="10">
                            644074, Омск, Проспект Комарова,<br>
                            21, к.1, Офис 117<hr color="white" noshade size="10">
                            Телефон:<br>
                            Факс:<br><hr color="white" noshade size="10">
                            <img src="../images/envelope-regular.svg" width="30"> prudfsfsdf@gmail.com
                        </div>
                    </div>
                </div>
            </div>
            <!--Футер темный кончился-->
            <!--Футер синий-->
            <div class="footer" >
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="footer">
                    <div class="container">
                        <a class="navbar-brand" href="#">Copyright &copy; "ООО" Императив-Сибирь</a>
                        <div>Design by FDFS</div>
                    </div>
                </nav>
            </div>
            <!--Футер синий кончился-->
            <script>
                window.onload = function ()
                {
                    var newsController = new NewsController();
                    newsController.getLastNews();
                };
            </script>
        </div>
        <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/radial/gauge.min.js"></script>
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        <script src="../lib/js/script.js"></script>
    </body>
</html>
