<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ООО «Императив Сибирь»</title>
        <meta charset="UTF-8">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../lib/css/bootstrap.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="containerrr">
            <div class="header">
                <div class="menuWrapper">
                    <div class="menuFloat">
                        <div class="menuLeft">
                            <div class="menuLeftLogo"><img src="../images/Logo3.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leftmenu">
                <div class="row">        

                     <div class="list-group">
                        <a class="list-group-item" href="/Imperativ/index.html"><i class="glyphicon glyphicon-home btn-lg"></i>Главная</a>
                        <a class="list-group-item" href="/Imperativ/view/news.html"><i class="glyphicon glyphicon-list-alt btn-lg"></i>Новости</a>
                        <a class="list-group-item" href="/Imperativ/view/service.html"><i class="glyphicon glyphicon-briefcase btn-lg"></i>Наши услуги</a>
                        <a class="list-group-item" href="/Imperativ/view/projects.html"><i class="glyphicon glyphicon-certificate btn-lg"></i>Проекты</a>
                        <a class="list-group-item" href="/Imperativ/view/vacancies.html"><i class="glyphicon glyphicon-user btn-lg"></i>Вакансии</a>
                        <a class="list-group-item" href="/Imperativ/view/about.html"><i class="glyphicon glyphicon-info-sign btn-lg"></i>О компании</a>
                        <a class="list-group-item" href="/Imperativ/view/contacts.html"><i class="glyphicon glyphicon-phone-alt btn-lg"></i>Контакты</a>
                    </div>
                </div>
            </div>
            <div class="maincontent">
                <div style="height:  553px">
                        <div class="container content">
                            <div class="heading">
                                <h2>Наши <strong>Услуги</strong></h2>
                                <p>Мы помогаем своим клиентам путём внедрения новых энергосберегающих технологий повысить прибыльность своего бизнеса.</p>
                            </div><!-- //end heading -->

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team-members">
                                        <div class="team-avatar">
                                            <img class="img-responsive" src="/Imperativ/images/light.jpg" alt="">
                                        </div>
                                        <div class="team-desc">
                                            <h4>Системы внутреннего и наружного освещения. </h4>
<!--                                            <span>30000 rub</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="team-members">
                                        <div class="team-avatar">
                                            <img class="img-responsive" src="/Imperativ/images/water.jpg" alt="">
                                        </div>
                                        <div class="team-desc">
                                            <h4>Системы теплоснабжения.</h4>
                                            <!--<span>15000 rub</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="team-members">
                                        <div class="team-avatar">
                                            <img class="img-responsive" src="/Imperativ/images/teplo.jpg" alt="">
                                        </div>
                                        <div class="team-desc">
                                            <h4>Системы отопления и нагрева ГВС.</h4>
                                            <!--<span>10000 rub</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- //end row -->
                        </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="footer">
                <footer>
                    <p>© 2018 All rights reserved 2017-2018.</p>
                </footer>
            </div>
            </div>
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
    </body>
</html>
